.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 80px;
  column-gap: 20px;
    
}

.nav__link {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
  
}
 
.header__title{
  max-width: 709px;
  position: relative;
  left: 80px;
  top: 252px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 0;
}

.header__title-span {
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}


.header__description {
  position: relative;
  max-width: 683px;
  left: 80px;
  top: 272px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  max-width: 646px;
  max-height: 568px;
}

.header__footer {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  position: relative;
  
}

.header__paragraph-footer-3 {
  position: absolute;
  left: 80px;
  bottom: 65px;
}

.header__paragraph-footer-2 {
  position: absolute;
  left: 80px;
  bottom: 45px;
}

.header__paragraph-footer-1 {
  position: absolute;
  left: 80px;
  bottom: 40px;
  margin: 0;
}

.header__paragraph-footer-0 {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.recipes {
  color: #ffffff;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  position: relative;
  top: 100px;
  left: 80px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  position: relative;
  top: 124px;
  left: 80px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: 204px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto;
 
  margin-bottom: 80px;
}

.form {
/* todos os outros estilos */
display: flex;
flex-direction: column;
box-sizing: border-box;
max-width: 385px;
width: 100%;
}

.reservation__form {
  /* apenas para margem */
  margin: 0;

}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border-style: none;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  border-color: #838383;
  border-width: 1px;
  margin-bottom: 32px;
  padding: 15px 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

::placeholder {
  color: #838383;
}

.form__button {
  opacity: 1;
  background-color: #2f80ed;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  height: 60px;
  border-style: none;
  border-radius: 4px;
  color: #ffffff;
  

}

.form__button:hover{
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-bottom: 120px;
}

